#**Theory questions**

#1)What are data structures, and why are they important?
Ans)Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. They provide a blueprint for how data is arranged, allowing algorithms to perform operations on it in an optimized way.

They are important because they are fundamental to building efficient software. Choosing the right data structure for a task can significantly improve the performance, scalability, and memory usage of a program. For instance, a search operation on a large dataset can be instantaneous with an appropriate data structure like a hash table, but incredibly slow with a less suitable one, such as an unsorted list.

#2) Explain the difference between mutable and immutable data types with examples?
Ans)Mutable data types can be changed or modified after they're created. Immutable data types cannot be changed after they are assigned.

Mutable Examples: list, dict, set. You can add, remove, or change elements within them.

Immutable Examples: string, tuple, int, float. If you want to "change" an immutable object, you're actually creating a new object with the desired changes.

#3)What are the main differences between lists and tuples in Python?
Ans)Lists are mutable and defined with square brackets []. They are used for collections of items that might change, such as a shopping list.

Tuples are immutable and defined with parentheses (). They are used for collections of items that are not expected to change, like geographical coordinates. Since they are immutable, tuples are generally faster than lists.

#4)Describe how dictionaries store data?
Ans)Dictionaries store data as key-value pairs. Each unique key is mapped to a specific value. This structure allows for fast data retrieval based on the key, similar to how a real-world dictionary uses a word (the key) to find its definition (the value).

#5) Why might you use a set instead of a list in Python?
Ans)You would use a set instead of a list when you need to store a collection of unique items and performance for membership testing (in keyword) is a priority. Sets automatically eliminate duplicates. They are also useful for mathematical set operations like unions, intersections, and differences.

#6)What is a string in Python, and how is it different from a list?
Ans)A string is a sequence of characters, such as letters and numbers. It's an immutable data type.

A list is an ordered, mutable collection of any data type. You can store numbers, strings, or even other lists within a list.

The key difference is that a list can be modified in place, while a string cannot. Any operation that seems to "change" a string, like converting it to uppercase, actually creates a new string.

#7)How do tuples ensure data integrity in Python?
Ans)Tuples ensure data integrity because they are immutable. Once created, their contents cannot be changed. This prevents accidental modification of the data, making them ideal for storing data that should remain constant throughout a program's execution, like configuration settings or a person's date of birth.

#8)What is a hash table, and how does it relate to dictionaries in Python?
Ans)A hash table is a data structure that implements an associative array or dictionary. It's the underlying data structure used by dictionaries in Python. A hash table uses a hash function to map keys to an index in an array, allowing for incredibly fast data insertion and retrieval, often in constant time, or O(1).

#9)Can lists contain different data types in Python?
Ans)Yes, lists in Python can contain different data types. For example, my_list = [10, 'hello', 3.14, True] is a valid list containing an integer, a string, a float, and a boolean.

#10)Explain why strings are immutable in Python?
Ans)Strings are immutable in Python for several reasons:

1.Memory Efficiency: By being immutable, different parts of a program can share the same string object in memory, as there's no risk of one part changing the data for another.

2.Safety: Immutable objects are thread-safe and can be used as keys in a dictionary or elements in a set, which mutable objects cannot.

3.Performance: Python's implementation can make certain optimizations knowing that strings won't change.

#11)What advantages do dictionaries offer over lists for certain tasks?
Ans)Dictionaries offer significant advantages over lists for tasks that involve quick lookup by a specific identifier. Instead of iterating through a list to find an item (which can be slow for large lists), you can access the item directly using its key in a dictionary, which is an extremely fast operation.

#12)Describe a scenario where using a tuple would be preferable over a list?
Ans)You would prefer a tuple over a list when representing data that is inherently fixed and unchanging. For example, storing a point's coordinates like (x, y) is a perfect use case for a tuple. The coordinates of a point should not be changed by adding or removing values, and the tuple's immutability ensures this.

#13) How do sets handle duplicate values in Python?
Ans)Sets automatically remove duplicate values. When you add an element to a set that already exists, the set simply ignores the addition. This makes sets perfect for quickly finding unique items in a collection.

#14)P How does the “in” keyword work differently for lists and dictionaries?
Ans)The in keyword works differently for lists and dictionaries:

For lists, x in my_list checks if an element x exists among the values in the list. This is a linear search, which can be slow.

For dictionaries, x in my_dict checks if x exists as a key. This is a fast, constant-time operation.

#15)Can you modify the elements of a tuple? Explain why or why not?
Ans)No, you cannot modify the elements of a tuple. This is because tuples are immutable. Any attempt to change, add, or remove an element will result in a TypeError. If you need to make changes, you must convert the tuple to a list, make the changes, and then convert it back to a tuple.

#16)What is a nested dictionary, and give an example of its use case?
Ans)A nested dictionary is a dictionary where the values are themselves other dictionaries. A common use case is storing structured, hierarchical data, such as a database of student records:
Here, each student's ID ('101', '102') is a key that maps to another dictionary containing their personal information.

In [1]:
#16th question answer
student_data = {
    '101': {
        'name': 'Aravind',
        'grade': 'A',
        'courses': ['Math', 'Physics']
    },
    '102': {
        'name': 'Venu',
        'grade': 'B',
        'courses': ['Chemistry', 'Biology']
    }
}

#17)Describe the time complexity of accessing elements in a dictionary?
Ans)The time complexity of accessing elements in a dictionary is, on average, O(1) or constant time. This means that as the dictionary grows, the time it takes to retrieve an item by its key remains roughly the same. This is because dictionaries use a hash table to find the memory location of the value directly from the key. In the worst-case scenario (due to hash collisions), it can be O(n).

#18)In what situations are lists preferred over dictionaries?
Ans)Lists are preferred over dictionaries in situations where:

Order matters: Lists maintain the order of insertion, whereas dictionaries are unordered (in versions before Python 3.7, and conceptually unordered even after).

Sequential access is needed: If you need to iterate through all elements or access them by their position (index), a list is the natural choice.

Duplicate values are important: Lists can contain duplicate values, while dictionaries cannot have duplicate keys.

#19)Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans)Dictionaries are considered unordered because, historically, they did not guarantee the order of key-value pairs. While modern Python versions (3.7+) preserve insertion order, the primary way to access data is still by key, not by index. This means you can't rely on accessing the "third" item, as its position might not be stable, and its retrieval is always based on its unique key.

#20) Explain the difference between a list and a dictionary in terms of data retrieval?
Ans)Lists: Data is retrieved by its numerical index (position), starting from 0. Accessing a specific item requires knowing its position.

Dictionaries: Data is retrieved by its unique key. You use the key to "look up" its associated value. This makes data retrieval much faster and more intuitive when you need to find an item by a specific identifier rather than its position in a sequence.

#**Practical Questions**

In [5]:
#1)Write a code to create a string with your name and print it?
name = "Aravind"
print(name)

Aravind

In [6]:
#2)Write a code to find the length of the string "Hello World"?
string = "Hello World"
length = len(string)
print(length)

11

In [7]:
#3)Write a code to slice the first 3 characters from the string "Python Programming"?
my_string = "Python Programming"
sliced_string = my_string[0:3]
print(sliced_string)

Pyt

In [8]:
#4)Write a code to convert the string "hello" to uppercase?
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [9]:
#5)Write a code to replace the word "apple" with "orange" in the string "I like apple"?
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [10]:
#6)Write a code to create a list with numbers 1 to 5 and print it?
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [11]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4]?
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [12]:
#8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [13]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [14]:
#10)Write a code to reverse the list [10, 20, 30, 40, 50]?
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [15]:
#11)Write a code to create a tuple with the elements 100, 200, 300 and print it?
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [16]:
#12). Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [17]:
#13) Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [18]:
#14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [21]:
#15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [20]:
#16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [22]:
#17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [23]:
#18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [24]:
#19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [25]:
#20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [27]:
#21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "Aravind",
    "age": 22,
    "city": "Hyderabad"
}
print(my_dict)

{'name': 'Aravind', 'age': 22, 'city': 'Hyderabad'}

In [30]:
#22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
#23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [32]:
#24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [33]:
#25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [35]:
#26) Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'key': 'value'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'key': 'value'}

In [36]:
#27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[12, 19, 36, 41, 61]

In [37]:
#28)Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "cherry", "orange", "grape"]
third_element = my_list[2]
print(third_element)

cherry

In [38]:
#29) Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
#30)Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}